.section_padding-bottom-no {
    padding-bottom: 0;
  } 
 .advant__subtitle {
    margin-bottom: 10px;
 }
 .advant-list {
    display: flex;
    gap: 30px;
    
    &__icon {
      /* width: 270px; */
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary-background-color,lightgrey);
      margin-bottom: 30px;
   }
 } 
