
 .advant__subtitle {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
 }
 .advant__text {
   line-height: 1.71;
 }

//  @media screen and (max-width: 767px) 
 @include mq(mobile-only) {   
   .advant-list__item:not(:last-child) {
      margin-bottom: 30px;
   }
 }
 .advant-list__icon {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color,lightgrey);
   
 }

//  @media screen and (min-width: 768px)
 @include mq(tablet) {
   .advant-list {
      display: flex;
      gap: 30px;
   }
 }

//  @media screen and (min-width: 768px) and (max-width: 1199px) 
@include mq(tablet-only) {
   .advant-list {
      flex-wrap: wrap;
   }
   .advant-list__item {
      flex-basis: calc((100% - 1 * 30px) / 2);
   }
}

// @media screen and (min-width: 1200px)
@include mq(desktop) {
   .section_padding-bottom-no {
      padding-bottom: 0;
   } 
}
