
 .advant__subtitle {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
   //  line-height: normal;
 }
 .advant__text {
   line-height: 1.71;
 }

 @media screen and (max-width: 767px) {   
   .advant-list__item:not(:last-child) {
      margin-bottom: 30px;
   }
 }
 .advant-list__icon {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color,lightgrey);
   
 }

 @media screen and (min-width: 768px) {
   .advant-list {
      display: flex;
      gap: 30px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .advant-list {
      // display: flex;
      // gap: 30px;
      flex-wrap: wrap;
   }
   .advant-list__item {
      flex-basis: calc((100% - 1 * 30px) / 2);
   }
}

@media screen and (min-width: 1200px) {
   .section_padding-bottom-no {
      padding-bottom: 0;
   } 
}


// .section_padding-bottom-no {
//     padding-bottom: 0;
//   } 
//  .advant__subtitle {
//     margin-bottom: 10px;
//  }
//  .advant-list {
//     display: flex;
//     gap: 30px;
    
//     &__icon {
//       /* width: 270px; */
//       height: 120px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       background-color: var(--secondary-background-color,lightgrey);
//       margin-bottom: 30px;
//    }
//  } 
