.clients {
    display: flex;
    gap: 30px;

    &__item {
      display: flex;
      width: 170px;
      height: 92px;
      justify-content: center;
      align-items: center;
      border: 1px solid #AFB1B8;
      border-radius: 4px;
      fill: var(--link-icon-color,silver);
   
      transition-property: border-color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
         fill: var(--accent-color,blue);
         border-color: var(--accent-color,blue);
      }
   }
 }

 
