.section_background_white {
        background: var(--secondary-background-color, white);
}
  

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-background-color, white);
    
}

// @media screen and (max-width: 767px)
@include mq(mobile-only) {   
    .team__item:not(:last-child) {
       margin-bottom: 30px;
    }
    .team__foto {
        margin-left: auto;
        margin-right: auto;
    }
  }


.team__desription {
    padding-top: 30px;
    padding-bottom: 24px;

    // @media screen and (min-width:1200px)
    @include mq(desktop) {
        padding-bottom: 30px;
    }
}

.section__subtitle_positioned {
    font-weight: 500;
    /* font-size: 16px; */
    // line-height: 1.19;
    text-transform: none;
    text-align: center;
    margin-bottom: 10px;
    }
    
.section__text_positioned {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
    }


// @media screen and (min-width: 768px)
@include mq(tablet) {
    .team {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }       
}    

// @media screen and (min-width: 1200px) {
//     .team {
//         display: flex;
//         gap: 30px;
//     }       
// }    







// .section_background_white {
//     background: var(--secondary-background-color, white);
//  }
 
//  .team {
//     display: flex;
//     gap: 30px;

//     &__item {
//       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//       border-radius: 0px 0px 4px 4px;
//       background-color: var(--main-background-color, white);
//    }   
//    &__desription {
//       padding-top: 30px;
//       padding-bottom: 30px;
//    }
//  }
 
//  .section__subtitle_positioned {
//     font-weight: 500;
//     /* font-size: 16px; */
//     line-height: 1.19;
//     text-transform: none;
//     text-align: center;
//     margin-bottom: 10px;
//  }
 
//  .section__text_positioned {
//     font-size: 16px;
//     line-height: 1.19;
//     text-align: center;
//     /* color: var(--second-text-color,grey); */
//     margin-bottom: 16px;
//  }