.social-links {
   display: flex;
   gap: 10px;
   justify-content: center;

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      fill: var(--link-icon-color,silver);

      transition-property: background-color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
   
      &:hover,
      &:focus {
         background-color: var(--accent-color,blue);
         fill: var(--light-text-color,white);
      }
   }
}