body { 
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--main-text-color,black);
    background-color: var(--main-background-color, white);
  }

  body.modal-open {
    overflow: hidden;
  }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin-top: 0;
   margin-bottom: 0;
 }

 ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
 }
 
 img {
   display: block;
   max-width: 100%;
   height: auto;
 }

 .no-link-underline {
    text-decoration: none;
 } 
 
 .no-list-marker { 
    list-style-type: none;
 }
