:root {
    --main-font: roboto;
    --logo-font: Raleway;

    --main-text-color: #212121;
    --main-background-color: #FFFFFF;
    --second-text-color: #757575;
    --light-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --page-background-color: #2F303A;
    --hero-background-color: #C4C4C4;
    --secondary-background-color: #F5F4FA;
    --hero-btn-background-focus-color: #188CE8;
    --link-icon-color: #AFB1B8;
}